//- Все примеси в этом файле должны начинаться c имени блока (tile)

mixin tile(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +tile('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tile--' + modsList[i].trim();
      }
    }

  .tile(class=allMods)&attributes(attributes)
    .tile__inner.inner
      block
