// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  min-height: 130vh;
  width: 100%;
  margin-top: 130px;

  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: 50% 0;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading__title {
      margin: 0;
    }

    .heading__button {

      span {
        text-transform: lowercase;
      }
    }
  }
}
