// В этом файле должны быть стили для БЭМ-блока blockquote, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.blockquote {

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-bottom: 2rem;
    color: #fe3254;
    font-size: 48px;
    font-weight: 400;

    letter-spacing: 0.48px;
  }

  &__text {
    max-width: 500px;

    color: rgba(#4b5863, .35);
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.16px;

    &--author {
      margin-top: 80px;
    }
  }

  &__author {
    display: block;
    margin-bottom: 0.5em;

    color: #000;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.16px;
  }

  &__position {
    display: block;
  }
}
